.Kako-Layout-FormDefault{
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
  text-align: right;
  height: 60px;
}
.Kako-Layout-FormDefault .ant-form-item-control-wrapper,
.Kako-Layout-FormDefault .ant-select-selection{
  width: 180px;
}

.Kako-Layout-SearchDefault{
  margin: 0 auto;
  text-align: right;
  margin-right: 1em;
  height: 40px;
}