.Kako-Layout-FormDefault{
  width: 100%;
  margin: 0;
  /* min-height: 80px; */
  padding: 0 12px;
}
.Kako-Layout-FormDefault div.ant-form-item{
  padding-bottom: 0;
  margin-bottom: 0;
}
.Kako-Layout-FormDefault div.ant-form-item-control-wrapper,
.Kako-Layout-SearchDefault div.ant-form-item-control-wrapper{
  min-width: 210px;
  min-height: 52px;
}
.Kako-Layout-FormDefault div.ant-radio-group-outline,
.Kako-Layout-FormDefault div.ant-checkbox-group{
  line-height: 30px;
}
.Kako-Layout-FormDefault span.ant-calendar-picker-input,
.Kako-Layout-SearchDefault span.ant-calendar-picker-input{
  width: 210px;
}

.Kako-Layout-Exclusive{
  width: 100%;
  margin: 0 auto;
  min-height: 60px;
  display: flex;
  justify-content: flex-end;
}
.Kako-Layout-Exclusive div.ant-form-item{
  display: flex;
  flex: 1;
  margin-right: 0;
}
.Kako-Layout-Exclusive div.ant-form-item-label{
  width: 25%;
  text-align: right;
  padding: 0 8px 0 0;
  line-height: 32px;
}
.Kako-Layout-Exclusive div.ant-form-item-control-wrapper{
  flex: 1;
}

.Kako-Layout-SearchDefault{
  display: inline-block;
  transition: all .2s;
  overflow: hidden;
}
.Kako-Layout-SearchDefault .ant-form-item-label{
  width: 7em;
}